<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinsampie">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- NFC -->
    <uses-permission android:name="android.permission.NFC" /> <!-- android:required = true代表Google Play會自動過濾掉沒有支持NFC晶片的設備 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinSampie">

        <activity android:name=".activity.ReciprocalActivity" />
        <activity android:name=".activity.NfcActivity" />
        <activity android:name=".activity.RecyclerViewStyleActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="SplashScreen"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="SplashScreen"
            android:theme="@style/Theme.KotlinSampie" />
    </application>

</manifest>